.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-Montserrat);
}
.list {
  display: block;
  align-items: center;
}
.login {
  margin-right: 10px;
}
.link_login {
  display: flex;
  align-items: center;
}
